<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.happy.ninjanote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <activity -->
        <!-- android:name=".SingleInstanceActivity001" -->
        <!-- android:label="SingleInstanceActivity001"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="NINJA_NOTE" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <activity
            android:name=".layoutbox.LayoutShowcase001"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Layout Box/LayoutShowcase001"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="NINJA_NOTE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layoutbox.LayoutNinja001"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="layoutbox/LayoutShowcase001" />
        <activity
            android:name=".layoutbox.AnimationInRecycler"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Layout Box/AnimationInRecycler">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="NINJA_NOTE" />
            </intent-filter>

        </activity>
        <activity
            android:name=".layoutbox.ListItemShowcase"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Layout Box/ListItemShowcase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="NINJA_NOTE" />
            </intent-filter>

        </activity>
        <activity
            android:name=".layoutbox.ListHeaderShowcase"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Layout Box/HeaderShowcase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="NINJA_NOTE" />
            </intent-filter>

        </activity>
        <activity
            android:name=".layoutbox.HeaderShowcaseLauncher"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Layout Box/HeaderShowcaseLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="NINJA_NOTE" />
            </intent-filter>

        </activity>
    </application>

</manifest>